<mat-nav-list class="lista" style="background-color:#323f48;">
    <div class="profile-card">
        <div class="header">
            <h2 style="color: white">Hola, Peter</h2>

        </div>
        <img src="/assets/img/peter.jpeg">

    </div>

<mat-divider></mat-divider>
 <h2 matSubheader class="">Paginas</h2>

 <a mat-list-item  class="ripple gray" routerLink="/default"> <mat-icon>help_outline</mat-icon> Ingreso de listas de útiles</a>
 <a mat-list-item  class="gray" routerLink="/default/posts"><mat-icon>help_outline</mat-icon> Datos del usuario</a>
 <a mat-list-item  class="gray" routerLink="/default/articles"> <mat-icon>help_outline</mat-icon> Articulos</a>




</mat-nav-list>


