
<app-header style="background-color: #323f48;"></app-header>
<!--agregamos este contenedor #E5F0F5-->
<mat-drawer-container style="background-color: whitesmoke; color: black">
    <!--el sidebar :v -->
    <mat-drawer mode="side" style="background-color: #323f48; border-radius: 0px 25px 25px 0px;"  opened>  
        <app-sidebar></app-sidebar>

    </mat-drawer>
    <!--///////////////-->

    <!--dashboard-->
    <mat-drawer-content>
        <!--aqui estara el dashboard-->
        <router-outlet></router-outlet>

    </mat-drawer-content >
    <!--//////////////-->

</mat-drawer-container>
<!--/////////////////////////-->
