<mat-card style="text-align: center; background: white; color:black"><h2>Inicial</h2></mat-card>
<div class="container">
    <div class="box">
        <mat-icon>filter</mat-icon>

    </div>

    <div class="box">
        <div class="icon">
            <mat-icon class="fa">filter_2</mat-icon>

        </div>
        <div class="content">
            <h4>2do Inicial</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicasdadasdasdasdadasdadas </p>
            
        </div>
        
        
    </div>

    <div class="box">
        <mat-icon>filter</mat-icon>
        
    </div>

</div>
