<mat-toolbar style="background-color: #323f48; color: gray" >
   
 <mat-toolbar-row>
     
     <span ><img src="https://res.cloudinary.com/du9f8rxnz/image/upload/v1587275374/system/logo2_vuvvtr.png"></span>


     <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
         <ul fxLayout="row" fxLayoutGap="20px">
             <li>
                 <button class="textwhite" mat-icon-button>
                     <mat-icon>settings</mat-icon>
                 </button>
             </li>

             <li>
                <button class="textwhite" mat-icon-button>
                    <mat-icon>help_outline</mat-icon>
                </button>
            </li>

           

            <li>
                <button class="textwhite" mat-button [matMenuTriggerFor] = 'menu'>
                    <mat-icon class="textwhite">person_outline</mat-icon>
                </button>
                <mat-menu #menu="matMenu" style="background: green !important;">
                    <button mat-menu-item class="salida">
                        <mat-icon>exit_to_app</mat-icon>salir
                    </button>

                </mat-menu>
            </li>

         </ul>

     </div>



 </mat-toolbar-row>
</mat-toolbar>